header {
    height: 80px;
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 1.2em;
    border-bottom: 0.05rem solid #c8c8c8;

    h1.logo {
        flex-grow: 1;
    }

    nav {
        a {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.active {
                color: 	#cda804;
                font-weight: bold;
            }
        }
    }
}