<div class="filter-options">
    <button (click)="setTimeRange('7day')">This week</button>
    <button (click)="setTimeRange('month')">This Month</button>
    <button (click)="setTimeRange('year')">This Year</button>
    <button (click)="setTimeRange('five-years')">5 years</button>
    <button (click)="setTimeRange('all')">All Time</button>
  </div>
  
  <ngx-charts-line-chart
    [view]="[1000, 400]"
    [results]="filteredData"
    [legend]="true"
    [xAxis]="true"
    [yAxis]="true"
    [autoScale]="true"
    [timeline]="true">
  </ngx-charts-line-chart>
  