.filter-options {
    display: flex;
    justify-content: center; // Center buttons horizontally
    gap: 1rem; // Space between buttons
    margin-top: 1rem; // Space above buttons

    button {
        background-color: #151515; // Primary button color
        color: #ffffff; // White text
        border: none; // Remove default border
        border-radius: 0.25rem; // Rounded corners
        padding: 0.75rem 1.5rem; // Vertical and horizontal padding
        font-size: 1rem; // Font size
        cursor: pointer; // Pointer cursor on hover
        transition: background-color 0.3s ease, transform 0.2s ease; // Smooth transition for hover effects

        &:hover {
            background-color: #ffcc00; // Darker shade on hover
        }

        &:active {
            background-color: #ffcc00; // Even darker shade on click
            transform: scale(0.98); // Slightly shrink button on click
        }

        &:focus {
            outline: none; // Remove default outline
            box-shadow: 0 0 0 1px #ffcc00; // Custom focus outline
        }
    }
}

::ng-deep .ngx-charts { text { fill: #fff !important; } }

