.home-page {

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto; // Adjust rows to fit content
    grid-template-areas:
        "user-info chart"
        "move chart";

    gap: 1rem;

    .user-info {
        grid-area: user-info;
        background-color: #1f1f1f;
        padding: 1.25rem; // Padding: 20px equivalent
        border-radius: 0.5rem; // Rounded corners: 8px equivalent
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); // Subtle shadow for depth
        max-width: 37.5rem; // Max-width: 600px equivalent
        margin: 1.25rem auto; // Center horizontally with margin: 20px equivalent
        border: 0.05rem solid #ffffff;


        h1 {
            font-size: 1.5rem; // Font size: 32px equivalent
            margin-bottom: 0.625rem; // Margin-bottom: 10px equivalent
        }

        h2 {
            font-size: 2rem; // Font size: 24px equivalent
            margin: 0.625rem; // Margin: 10px equivalent

            a {
                color: #ffcc00; // Highlight color for user stats
            }
        }

        h3 {
            font-size: 1.2rem; // Font size: 19px equivalent
            margin-top: 0.625rem; // Margin-top: 10px equivalent
        }
    }

    .chart {
        grid-area: chart;
        background-color: #1f1f1f;
        padding: 1.25rem; // Padding: 20px equivalent
        border-radius: 0.5rem; // Rounded corners: 8px equivalent
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); // Subtle shadow for depth
        margin: 1.25rem auto; // Center horizontally with margin: 20px equivalent
        border: 0.05rem solid #ffffff;
    }

    .moves {
        grid-area: move;
        padding: 1.25rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
        max-width: 37.5rem;
        max-height: 40vh; // Adjust based on your needs
        overflow-y: auto;
        display: grid;
        gap: 1rem;
        padding: 1rem;
        background-color: #1f1f1f;
        border-radius: 0.5rem;
        border: 0.05rem solid #ffffff;
        // Center the content of the grid container
        display: grid;
        align-items: center; // Center content vertically if there's more than one row
        justify-items: center; // Center content horizontally within each grid cell

        // Center the text inside the <p> element
        p {
            grid-column: 1 / -1; // Span across all columns
            font-size: 1.25rem;
            font-weight: bold;
            color: whitesmoke;
            margin-bottom: 1rem;
            text-align: center; // Center text horizontally
        }
    }
}