.info {
    display: flex;
    align-items: center; // Center items vertically
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #151515;
    margin-bottom: 1rem; // Space between contacts
  
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%; // Circular image
      margin-right: 1rem; // Space between image and text
    }
  
    .data {
      p {
        margin: 0;
        font-size: 1rem;
        color: #cda804;
      }
    }
  }