:host {
    box-shadow: -1px 1px 8px #00000045;
    border-radius: 3px;
    display: flex;
    cursor: pointer;

    .info {
        height: 100%;
        padding: 10px;
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;

        .data {
            flex-grow: 1;
        }
    }

    img {
        max-width: 50%;
    }

}
